<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white" :style="yourStyles">
                    {{ yourHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white" :style="monsterStyles">
                    {{ monsterHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!inGame">
        <div class="small-12 columns">
            <button id="start-game" @click="inGame = true">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else="inGame">
        <div class="small-12 columns">
            <button id="attack" @click="attack()">ATTACK</button>
            <button id="special-attack" @click="attack(5)">SPECIAL ATTACK</button>
            <button id="heal" @click="heal()">HEAL</button>
            <button id="give-up" @click="inGame = false">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">
            <ul>
                <template v-for="(log, name) in gameLog">
                    <template v-if="name == 'playerLog'">
                        <li class="player-turn">
                            PLAYER HEALS FOR {{ log }}
                        </li>
                    </template>
                    <template v-else>
                        <li class="monster-turn">
                            MONSTER HITS PLAYER FOR {{ log }}
                        </li>
                    </template>
                </template>

            </ul>
        </div>
    </section>
</div>

<script src="./js/app.js"></script>
</body>
</html>